<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Basic configuration</title>
    <link th:href="@{/webjars/bootstrap/3.4.1/css/bootstrap.css}" rel="stylesheet">
    <script type="text/javascript" th:src="@{/webjars/jquery/3.5.1/jquery.js}"></script>
    <style>

        body {
            padding: 30px 50px 30px;
            min-height: 600px;
        }

        .line {
            border-bottom: 0.5px dotted #7c7c7c;
            width: 550px;
            padding-bottom: 10px;
        }

        .form-control {
            width: 450px;
        }

    </style>
</head>
<body>

<div class="row">
    <div class="col-lg-12">
        <label><h4>Step 1. Node configuration (required)</h4></label>
        <p></p>
        <label>The current node ：<span th:text="${node}"></span></label>
        <p class="line"></p>
        <p></p>
        <form class="form-inline" id="addNode">
            <div class="form-group">
                <input type="text" class="form-control" id="node" name="node"
                       placeholder="Please fill in the node (required)">
            </div>
            <button type="submit" class="btn btn-primary" onclick="return addNode()">Update the node</button>
        </form>
    </div>
</div>

<p></p>
<p></p>

<div class="row" style="border-top: red 1px dotted ;margin-top: 20px">
    <div class="col-lg-12">
        <label><h4>Step 2. Network proxy configuration (not required)</h4></label>
        <p></p>
        <p></p>
        <form class="form-inline" id="updateProxy">

            <div class="form-group">
                <span>Set network proxy IP (default 127.0.0.1, not required) :</span>
                <input type="text" class="form-control" id="ipAddress" name="ipAddress"
                       th:value="${ipAddress}"
                       placeholder="Set up the network proxy IP">
            </div>
            <p></p>
            <div class="form-group">
                <span>Set the network proxy port (port 0 means no proxy is used, default is 0, not required) :</span>
                <input type="text" class="form-control" id="port" name="port"
                       th:value="${port}"
                       placeholder="Set up the network proxy port">
            </div>
            <p></p>

            <button type="submit" class="btn btn-primary" onclick="return updateProxy()">update
            </button>
        </form>
    </div>
</div>

<div class="row" style="border-top: red 1px dotted ;margin-top: 20px">
    <div class="col-lg-12">
        <label><h4>Step 3. Quotation Token and Price Source Configuration (required)</h4></label>
        <form class="form-inline" id="addToken">
            <div class="form-group line">
                <label>Please fill in the quotation channel ID</label>
                <br/>
                <p></p>
                <input type="text" class="form-control"
                       style="width: 250px;"
                       th:value="${channelId}"
                       id="channelId" name="channelId" placeholder="Please fill in the quotation channel ID">
                <span>Current token0 name：[[${token.symbol == null?'':token.symbol}]]</span>
                <span>Current token1 name：[[${nToken.symbol == null?'':nToken.symbol}]]</span>

            </div>
            <br/>
            <button type="submit" class="btn btn-primary" onclick="return addToken()" id="addTokenBtn">confirm</button>
        </form>
    </div>
</div>

<div class="row" style="border-top: red 1px dotted ;margin-top: 20px">
    <div class="col-lg-12">
        <label><h4>Step 4. Account private key configuration (required)</h4></label>
        <p></p>
        <form class="form-inline" id="addWallet">
            <div class="form-group">
                <input type="text" class="form-control" id="privateKey" name="privateKey"
                       placeholder="Please fill in the account private key">
            </div>
            <button type="submit" class="btn btn-primary" onclick="return addWallet()">confirm</button>
        </form>

        <table class="table table-hover table-bordered">
            <thead>
            <tr>
                <th rowspan="2">The account address</th>
                <th th:colspan="${nToken.getSymbol().equalsIgnoreCase('NEST')?3:4}">Total assets of account</th>
                <th th:colspan="${nToken.getSymbol().equalsIgnoreCase('NEST')?3:4}">Account balance</th>
                <th th:colspan="${nToken.getSymbol().equalsIgnoreCase('NEST')?3:4}">Unfrozen assets</th>
                <th colspan="4">Frozen assets</th>
            </tr>
            <tr>
                <th>ETH</th>
                <th>[[${token.symbol}]]</th>
                <th>[[${nToken.symbol}]]</th>
                <th th:if="${!nToken.getSymbol().equalsIgnoreCase('NEST')}">NEST</th>

                <th>ETH</th>
                <th>[[${token.symbol}]]</th>
                <th>[[${nToken.symbol}]]</th>
                <th th:if="${!nToken.getSymbol().equalsIgnoreCase('NEST')}">NEST</th>

                <th>ETH</th>
                <th>[[${token.symbol}]]</th>
                <th>[[${nToken.symbol}]]</th>
                <th th:if="${!nToken.getSymbol().equalsIgnoreCase('NEST')}">NEST</th>

                <th>ETH</th>
                <th>[[${token.symbol}]]</th>
                <th>[[${nToken.symbol}]]</th>
                <th>NEST</th>
            </tr>
            </thead>

            <tbody>
            <tr th:if="${wallet!=null}">
                <td th:text="${wallet.getCredentials().getAddress()}"></td>

                <td th:text="${wallet.getTotal().getEthAmountUnit()}"></td>
                <td th:text="${wallet.getTotal().getTokenAmountUnit(token.getDecPowTen())}"></td>
                <td th:text="${wallet.getTotal().getToken1AmountUnit(nToken.getDecPowTen())}"></td>
                <td th:if="${!nToken.getSymbol().equalsIgnoreCase('NEST')}"
                    th:text="${wallet.getTotal().getNestAmountUnit()}"></td>

                <td th:text="${wallet.getAccount().getEthAmountUnit()}"></td>
                <td th:text="${wallet.getAccount().getTokenAmountUnit(token.getDecPowTen())}"></td>
                <td th:text="${wallet.getAccount().getToken1AmountUnit(nToken.getDecPowTen())}"></td>
                <td th:if="${!nToken.getSymbol().equalsIgnoreCase('NEST')}"
                    th:text="${wallet.getAccount().getNestAmountUnit()}"></td>

                <td th:text="${wallet.getClosed().getEthAmountUnit()}"></td>
                <td th:text="${wallet.getClosed().getTokenAmountUnit(token.getDecPowTen())}"></td>
                <td th:text="${wallet.getClosed().getToken1AmountUnit(nToken.getDecPowTen())}"></td>
                <td th:if="${!nToken.getSymbol().equalsIgnoreCase('NEST')}"
                    th:text="${wallet.getClosed().getNestAmountUnit()}"></td>

                <td th:text="${wallet.getFreezed().getEthAmountUnit()}"></td>
                <td th:text="${wallet.getFreezed().getTokenAmountUnit(token.getDecPowTen())}"></td>
                <td th:text="${wallet.getFreezed().getToken1AmountUnit(nToken.getDecPowTen())}"></td>
                <td th:text="${wallet.getFreezed().getNestAmountUnit()}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</body>

<script type="text/javascript">

    function updateProxy() {
        $.ajax({
            type: "POST",
            url: "/base/updateProxy",
            async: false,
            data: $('#updateProxy').serialize(),
            success: function (result) {
                if (result.msg) {
                    alert(result.msg)
                }
                location.replace(location);
            },
            error: function (result) {
                alert("The operation failure")
            }
        })
    }


    function addToken() {
        $.ajax({
            type: "POST",
            url: "/base/addToken",
            async: false,
            data: $('#addToken').serialize(),
            success: function (result) {
                if (result.msg) {
                    alert(result.msg)
                }
                location.reload();
            },
            error: function (result) {
                alert("The operation failure")
                location.reload();
            }
        })
    }

    function addNode() {
        if (!$('#node').val()) {
            alert('Node cannot be empty');
            return false;
        }
        $.ajax({
            type: "POST",
            url: "/base/addNode",
            async: false,
            data: $('#addNode').serialize(),
            success: function (result) {
                if (result.msg) {
                    alert(result.msg)
                }
                location.reload();
            },
            error: function (result) {
                alert("The operation failure")
            }
        })
    }

    function addWallet() {
        if (!$('#privateKey').val()) {
            alert('The private key cannot be empty');
            return false;
        }
        $.ajax({
            type: "POST",
            url: "/base/addWallet",
            async: false,
            data: $('#addWallet').serialize(),
            success: function (result) {
                if (result.msg) {
                    alert(result.msg)
                }
                location.reload();
            },
            error: function (result) {
                alert("The operation failure")
            }
        })
    }

</script>
</html>

